<h1>Editing Record</h1>

<p>
<%= render 'form', record: @record %>
</p>

<p>
<%= link_to 'Show', @record, class: "btn btn-default" %>
<%= link_to 'Back', records_path, class: "btn btn-default" %>
</p>
